header{
    display: flex;
    justify-content: space-between;
    background-color: #28594B;
    border-bottom: 10px solid #2C3740;
    padding: 10px 20px;
    align-items: center;
}

.logo h1{
    color: #F2F2F2;
    text-shadow: #2C3740 2px 2px 0;
    font-family: alegreya-sans,sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 3px solid #F2F2F2;
    padding: 5px 5px;
    border-radius: 25px;
}

header img{
    width: 60px;
    height: 60px;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #F2F2F2;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    background-color: #8BCEF9;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50px;
}

.button{
    display: inline-block;
    background-color: #F2F2F2;
    color: #2C3740;
    font: 600;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #2C3740;
    margin-right: 0px;
    border-radius: 25px;
    transition: transform 100ms linear ;
}

.button:hover{
    transform: scale(1.05);
    background-color: #8BCEF9;
}


/* Color Theme Swatches in Hex 
.Grieg-Seafood---Digital-branding-1-hex { color: #2C3740; }
.Grieg-Seafood---Digital-branding-2-hex { color: #28594B; }
.Grieg-Seafood---Digital-branding-3-hex { color: #297350; }
.Grieg-Seafood---Digital-branding-4-hex { color: #F2B6A0; }
.Grieg-Seafood---Digital-branding-5-hex { color: #F2F2F2; }

*/
