.banner{
    box-sizing: border-box;
    background-color: #3CA6A6;
    height:500px;
    padding: 115px 90px;
    border-bottom: solid 10px #F2E3D5;

}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.banner .box{  
    margin-bottom:40px;
}

.banner .navigation{
    display: flex;
    justify-content:space-evenly;
}

.banner .button{
    box-shadow: 5px 5px 0 #026773;
}