.button{
    display: inline-block;
    background-color: #026773;
    color: #F2E3D5;
    font: 600;
    padding: 15px 20px;
    box-shadow: 5px 5px 0 #012E40;
    margin-right: 0px;
    border-radius: 15px;
    transition: transform 100ms linear ;
    text-decoration: none;
}

.button:hover{
    transform: scale(1.05);
    
}
