.main-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    margin-bottom: 28px;
    color: #3CA6A6;
    text-shadow: 4px 4px 0 #026773;
}

.main-title.-second{
    color: #F2E3D5;
    text-align: center;
    text-shadow:none;
}
