.main-title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    font-style: normal;
    margin-bottom: 28px;
    color: #28594B;
    text-shadow: 4px 4px 0 #222;
}

.main-title.-second{
    color: #fff;
    text-align: center;
    text-shadow:none;
}
