.skill-tec{
    display:flex;
    font-family: "Bebas Neue", sans-serif;
    font-size:25px;
    color: #F2E3D5;
}

.skill-tec .icon{
    margin-right:25px;   
}

.skill-tec .right{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}