.subtitle{
    font-family: "Press Start 2P", sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #F2F2F2;
    text-shadow: #222 4px 4px 0;
}


.subtitle.-second{
    color: #fff;
    text-align: left;
    text-shadow:none;
}
