.subtitle{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: #F2E3D5;
    text-shadow: #026773 4px 4px 0;
}


.subtitle.-second{
    color: #F2E3D5;
    text-align: left;
    text-shadow:none;
}
