h1{
    font-family: "Press Start 2P", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    color: #28594B;
    padding-top: 42px;
    padding-bottom: 28px;
    text-shadow: 4px 4px 0 #222;
}
h2{
    font-family: "Press Start 2P", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 44px;
    color: #F2F2F2;
    text-shadow: #222 4px 4px 0;
}